.pagination{
    display: inline-flex;
    list-style: none;
    justify-content: center;
    padding: 0%;
}

.pagButton{
  background-color:  #91a90c;
  border-color: #bdd21d;
 border-radius: 10px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.pagButton:hover {
    background-color:  #76890b;
    border-color: #8a9a16;
    cursor: pointer;
}