.Cards {
  border-color: hsl(69, 78%, 38%);
  border-radius: 30px;
  width: 250px;
  height: 300px;
  background-color: #798d09;
  border-style: solid;
  margin: 30px;
}

.Cards:hover {
  border-color: rgb(91, 189, 134);
  width: 250px;
  height: 300px;
  background-color: rgb(46, 122, 79);
  border-radius: 30px;
  margin: 30px;
}
/* R: 46
G: 122
B: 79 */
.dataCards {
  text-align: center;
}

.img {
  width: 200px;
}

.cardName {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.cardTypes {
  color: black;
}
