.landingBG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pokeButton {
  position: relative;
  top: 200px;
  width: 20%;
}
.pokeButton:hover {
  cursor: pointer;
  opacity: 0;

  /* background-image: url("../../utils/images/gifPokeball.gif"); */
}

.activebutton {
  position: relative;
  position: absolute;

  top: 200px;

  width: 20%;
  /* top: 0px;
  align-self: center; */
  cursor: pointer;
}

.mergePokes {
  position: relative;
  top: 0;
  left: 0;
}

.merge {
  position: relative;
  top: 0;
  left: 0;
}
.Welcomepng {
  width: 15%;
  position: absolute;
  top: 222px;
  left: 42%;
  bottom: 0;
  /* border: 1px solid #000000; */
}

.Pokemonpng {
  width: 37%;
  position: absolute;
  /* top: 30px; */
  left: 30%;
  /* border: 1px solid #000000; */
}
